<launch>
    <arg name="viz" default="false"/>

    <include file="$(find morse_ros)/launch/pr2_human_tum_kitchen.launch"/>
    <include file="$(find navigation_morse)/launch/tum_kitchen_locate.launch"/>

    <group if="$(arg viz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_morse)/rviz/morse.rviz" />
    </group>
</launch>
