<launch>
    <arg name="scenario" default="laas_adream"/>
    <arg name="map" default="laas_adream"/>
    <include file="$(find navigation_morse)/launch/pr2_locate.launch">
        <arg name="scenario" value="$(arg scenario)"/>
        <arg name="map" value="$(arg map)"/>
    </include>

    <include file="$(find navigation_morse)/launch/pr2_nav.launch"/>

    <arg name="viz" default="false"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_morse)/rviz/morse.rviz" if="$(arg viz)"/>
</launch>
