<launch>
    <master auto="start"/>

    <!-- start morse with a scenario -->
    <node pkg="morse_ros" type="start_morse.sh" 
    	  args="$(find morse_ros)/data/morse_scripts/tum_kitchen_scenario.py" 
	  name="morse" output="screen" required="true"/>

    <!-- setting up robot frames and model -->
    <param name="robot_description" command="cat $(find morse_ros)/data/robot_urdf/pr2.urdf"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
